
exportMethods(
    "AIC",
    "BIC",
    "fixef",
    "print",
    "ranef",
    "show",
    "summary",
    "VarCorr",
    "merge"
)



importFrom("lme4", "AIC", "BIC", "VarCorr", "fixef", "ranef")
importFrom("spdep", "lm.morantest", "mat2listw")
importFrom("foreach", "%do%", "%dopar%")
importFrom("iterators", "nextElem")

export("MLSpawExact",
       "ResampleMLSpawExact",
       "ResampleMLSpawAggregate",
       "WeightMatrix",
       "MLSpawResidMoran",
       "ExploreMLSpawExact",
       "ExploreMLSpawAggregate",
       "SpawAggregate",
       "SpawExact",
       "wt.gini.group",
       "wt.gini",
       "wt.gini.categ",
       "wt.var",
       "wt.sd",
       "wt.RS",
       "wt.Atkinson",
       "wt.Theil")
